{% extends 'base.html.twig' %}
{% block stylesheets %}
   <link rel="stylesheet" href="{{asset('concept/assets/vendor/multi-select/css/multi-select.css')}}">
    <link rel="stylesheet" href="{{asset('concept/assets/libs/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('concept/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')}}">
    <link rel="stylesheet" href="{{asset('concept/assets/libs/css/style.css')}}">
    <link href="{{asset('concept/assets/vendor/fonts/circular-std/style.css')}}" rel="stylesheet">
<style>
 .custom-header{
     background-color: #ddd;
     fomt-family: sans-serif;
     font-size: 16px;
     text-align: center;
 }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Data Tables</h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                         {% include 'shared/flash_message.html.twig' %}
                   </div>
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                </div>
                <br/>
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <a class="btn btn-info" href="{{path('admin_shops')}}" style="color:#fff"><i class="fas fa-list"></i> Liste des magasins</a>
                            <a class="btn btn-success" href="{{path('admin_shop_create')}}" style="color:#fff"><i class="fas fa-save"></i> Enregistrer des magasins</a>
                   </div>
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                </div>
                <br/>
                
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                   <div class="row">
                 
                    <!-- ============================================================== -->
                    <!-- data table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            
                            <div class="card-header">
                                <h5 class="mb-0">Modification de magasin</h5>
                            </div>
                            <div class="card-body">
                                {{form_start(form)}}
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="name">Nom</label>
                                            {{form_row(form.name, {attr:{'class': 'form-control', 'placeholder':'Nom du magasin','id':'name','style':'height:50px'}})}}
                                        </div>
                                    </div>
                                      <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="address">Adresse</label>
                                            {{form_row(form.address, {attr:{'class': 'form-control', 'placeholder':'Adresse du magasin','id':'address','style':'height:50px'}})}}
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="manager">Gestionnaire du magasin</label>
                                            {{form_row(form.manager, {attr:{'class': 'form-control', 'placeholder':'Gestionnaire du magasin','id':'manager','style':'height:50px'}})}}
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="staff">Personnels</label>
                                                {{form_row(form.staffs, {attr:{'class': 'form-control', 'placeholder':'Personnels du magasin', 'select': 'selected'}})}}
                                        </div>
                                    </div>
                                    <input type="hidden" name="data[]" id="data">
                                    <div class="form-group">
                                     <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Enregistrer</button>
                                    </div>
                                {{form_end(form)}}
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end data table  -->
                    <!-- ============================================================== -->
                </div>

</div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('concept/assets/vendor/multi-select/js/jquery.multi-select.js')}}"></script>
    <script src="{{asset('concept/assets/libs/js/main-js.js')}}"></script>
    <script src="{{asset('concept/assets/libs/js/jquery.quicksearch.js')}}"></script>

    <script>
        var dataSelects = [];
        var dataDeselects = [];

    $('#shop_update_staffs').multiSelect({
      
        selectableHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='Cherchez...'>",
        selectionHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='Cherchez...'>",
        afterInit: function(ms){
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
            .on('keydown', function(e){
            if (e.which === 40){
                that.$selectableUl.focus();
                return false;
            }
            });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
            .on('keydown', function(e){
            if (e.which == 40){
                that.$selectionUl.focus();
                return false;
            }
            });
        },
        afterSelect: function(values){
            this.qs1.cache();
            this.qs2.cache();

            dataSelects.push(values);
            $('#data').val(dataSelects);

        },
        afterDeselect: function(values){
            this.qs1.cache();
            this.qs2.cache();

            dataDeselects.push(values);

            $('#data').val(dataDeselects);
        }
        
            });
        
        function removeItemOnce(arr, value) {
        var index = arr.indexOf(value);
        if (index > -1) {
            arr.splice(index, 1);
        }
        return arr;
        }

    </script>
    
{% endblock %}