{% extends 'base.html.twig' %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{asset('concept/assets/vendor/select2/css/select2.css')}}"/>
 <style>

 </style>
{% endblock %}
{% block body %}
<div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Data Tables</h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                         {% include 'shared/flash_message.html.twig' %}
                   </div>
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                </div>
                <br/>

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            
                            <a href="{{path('admin_products')}}" class="btn btn-success" style="color:#fff"> <i class="fas fa-list"></i>Liste des produits</a>
                   </div>
                    <!-- ============================================================== -->
                    <!-- button  -->
                    <!-- ============================================================== -->
                </div>
                <br/>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                   <div class="row">
                 
                    <!-- ============================================================== -->
                    <!-- data table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            
                            <div class="card-header">
                                <h5 class="mb-0">Enregistrer un produit</h5>
                            </div>
                            <div class="card-body">
                                {{form_start(form)}}
                                    <div class="row">
                                        <div class="col-md-6">
                                           <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="product_name">Nom</label>
                                                    {{form_row(form.name, {attr:{'class': 'form-control', 'placeholder':'Nom du produit','style':'height:50px'}})}}
                                                </div>
                                            </div>
                                            {# {% if is_granted("ROLE_SUPER_ADMIN") %} #}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="product_unit_price">Prix d'achat</label>
                                                    {{form_row(form.buyingPrice, {attr:{'class': 'form-control', 'style':'height:50px'}})}}
                                                </div>
                                            </div>
                                            {# {% endif %} #}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="product_selling_price">Prix de vente</label>
                                                    {{form_row(form.sellingPrice, {attr:{'class': 'form-control','style':'height:50px'}})}}
                                                </div>
                                            </div>
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="product_onSaleAmount">Prix promo</label>
                                                    {{form_row(form.onSaleAmount, {attr:{'class': 'form-control','style':'height:50px'}})}}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="product_category">Catégorie</label>
                                                    {{form_row(form.category, {attr:{'class': 'form-control'}})}}
                                                </div>
                                            </div>
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                        <label for="product_provider">Fournisseur</label>
                                                        {{form_row(form.provider, {attr:{'class': 'form-control','style':'height:50px'}})}}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                        <label for="product_minimumStock">Stock minimum</label>
                                                        {{form_row(form.minimumStock, {attr:{'class': 'form-control','style':'height:50px'}})}}
                                                </div>
                                            </div>
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                        <label for="product_isVariable">Type de produit</label>
                                                        {{form_row(form.isVariable)}}
                                                </div>
                                            </div>
                                            <div class="col-md-12 element">
                                                <div class="form-group">
                                                        <label for="product_lengths">Taille</label>
                                                        {{form_row(form.lengths, {attr:{'class': 'form-control','style':'height:50px'}})}}
                                                </div>
                                            </div>
                                            <div class="col-md-12 element">
                                                <div class="form-group">
                                                    <label for="product_colors">Couleur</label>
                                                    {{form_row(form.colors, {attr:{'class': 'form-control','style':'height:50px'}})}}
                                                </div>
                                                <a type="button" class="btn btn-info form-control" id="variationButton">Créer les variations pour tous les attributs</a>
                                            </div>
                                            <br/>
                                            
                                        </div>
                                        <div class="col-md-6" >
                                        <div class="row" id="data">
                                        </div>
                                        <div class="row" id="data-simple">
                                         {% for shop in shops %}
                                                  <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="product_provider">Quantity Boutique {{shop.name}}</label>
                                                        <input type="number" class="form-control" name="shopQuantity[{{shop.id}}][]" min="0" style="height:50px" />
                                                    </div>
                                                 </div> 
                                            {% endfor %}
                                        </div>
                                        </div>
                                      
                                      </div>
                                      <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Enregistrer</button>
                                            </div>
                                      </div>  

                                {{form_end(form)}}
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end data table  -->
                    <!-- ============================================================== -->
                </div>
                     
</div>
{% endblock %}
{% block javascripts %}
 <script src="{{asset('concept/assets/vendor/select2/js/select2.min.js')}}"></script>
 <script>

    $('#simple_admin_product_lengths').select2({
        placeholder: "Tailles disponibles",
        allowClear: true
    });
        $('#simple_admin_product_colors').select2({
        placeholder: "Couleurs disponibles",
        allowClear: true
    });
    $('#simple_admin_product_isVariable').select2({
        placeholder: "Selectionner le type",
        allowClear: true
    })
    $('#simple_admin_product_category').select2({
        placeholder: "Selectionner le type",
        allowClear: true
    })
    $('#product_lengths').select2({
        placeholder: "Tailles disponibles",
        allowClear: true
    });
    $('#product_colors').select2({
        placeholder: "Couleurs disponibles",
        allowClear: true
    });
    $('#product_isVariable').select2({
        placeholder: "Selectionner le type",
        allowClear: true
    });
    $('#product_category').select2({
        placeholder: "Selectionner la catégorie",
        allowClear: true
    });
    $('#product_provider').select2({
        placeholder: "Selectionner le fournisseur",
        allowClear: true
    });
    $('#product_shop').select2({
        placeholder: "Selectionner le magasin",
        allowClear: true
    });



    $('.element').hide();
    $('#product_isVariable').change(function(){
        if($(this).val() == 0){
            $('.element').hide();
            $('#data').hide();
            $('#data-simple').show();
            $('#product_length').removeAttr('required');
            $('#product_color').removeAttr('required');
        }else if($(this).val() == 1){
            $('.element').show();
             $('#data').show();
            $('#data-simple').hide();
            $('#product_length').removeAttr('required');
            $('#product_color').removeAttr('required');
             $('#product_length').attr('required', '');
            $('#product_color').attr('required', '');
        }
    });

$('#variationButton').click(function(){
    var lenghts = $('#product_lengths').val();
    var colors =  $('#product_colors').val();

    console.log(colors);
    $.ajax({
        url: "{{path('admin_products_variations_create')}}",
        type: 'POST',
        data: {lengths: lenghts, colors: colors},
        success: function(data){
            $('#data').html(data);
        }
    });
})

$('#simple_admin_product_isVariable').change(function(){
        if($(this).val() == 0){
            $('.element').hide();
            $('#data').hide();
            $('#data-simple').show();
            $('#product_length').removeAttr('required');
            $('#product_color').removeAttr('required');
        }else if($(this).val() == 1){
            $('.element').show();
             $('#data').show();
            $('#data-simple').hide();
            $('#product_length').removeAttr('required');
            $('#product_color').removeAttr('required');
             $('#product_length').attr('required', '');
            $('#product_color').attr('required', '');
        }
    });
 </script>
{% endblock %}