        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="
                      {% if is_granted('ROLE_ADMIN')%} {{path('admin_dashboard')}}
                                    {% elseif is_granted('ROLE_MANAGER')%} {{path('manager_dashboard')}}
                                    {% elseif is_granted('ROLE_DELIVERY_MAN')%} {{path('delivery_man_dashboard')}}
                                    {% elseif is_granted('SUPER_ADMIN')%} {{path('super_admin_dashboard')}}{% endif %}
                    ">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="
                                    {% if is_granted('ROLE_ADMIN')%} {{path('admin_dashboard')}}
                                    {% elseif is_granted('ROLE_MANAGER')%} {{path('manager_dashboard')}}
                                    {% elseif is_granted('ROLE_DELIVERY_MAN')%} {{path('delivery_man_dashboard')}}
                                    {% elseif is_granted('SUPER_ADMIN')%} {{path('super_admin_dashboard')}}{% endif %}
                               "><i class="fa fa-fw fa-user-circle"></i>Tableau de bord <span class="badge badge-success">6</span></a>
                            </li>
                            {# ADMIN ROLE #}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-2"><i class="fa fa-fw fa-cubes"></i>Produits</a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_products')}}">Produits <span class="badge badge-secondary">New</span></a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_categories')}}">Catégories <span class="badge badge-secondary">New</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-3"><i class="fas fa-fw fa-shopping-cart"></i>Ventes</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_products_orders")}}">Ventes</a>
                                        </li>
                                          {# <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_orders_deliveries")}}">Livraison</a>
                                        </li> #}
                                          {# <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_products_commands")}}">Commandes</a>
                                        </li> #}
                                          <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_wc_orders")}}">Commandes en ligne</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-users"></i>Contacts</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_customers')}}">Clients</a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_delivery_mans')}}">Livreurs</a>
                                        </li>
                                     {% if is_granted("ROLE_SUPER_ADMIN") %}

                                         <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_providers')}}">Fournisseurs</a>
                                        </li>
                                    
                                           <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_staffs")}}">Personnel</a>
                                        </li>
                                         </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_administrators")}}">Administrateurs</a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_managers")}}">Gestionnaires</a>
                                        </li>
                                    {% endif %}
                                    
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa fa-truck"></i>Gestion des stocks</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                           <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_products_replenishment')}}">Réapprovisionnement</a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_orders_deliveries")}}">Livraison</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}

                             <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fab fa-fw fa fa-truck"></i>Opérations comptable</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_versements")}}">Versements</a>
                                        </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_fund_operations')}}">Opérations de caisse</a>
                                        </li>
                                         {# </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="{{path('admin_products_replenishment')}}">Retour de marchandises</a>
                                        </li> #}
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{path('admin_shops')}}"><i class="fab fa-fw fas fa-home" aria-hidden="true"></i>Magasins</a>
                            </li>
                             {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" href="{{path('admin_reports')}}"><i class="fab fa-fw fas fa-chart-line" aria-hidden="true"></i>Rapports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-cog"></i>Options</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_products_attributes")}}">Attributs de produit</a>
                                            <a class="nav-link" href="{{path("admin_payment_types")}}">Types de paiement</a>
                                            {# <a class="nav-link" href="{{path("admin_products_widths")}}">Largeurs des produits</a>
                                            <a class="nav-link" href="{{path("admin_products_heights")}}">Hauteurs des produits</a>
                                            <a class="nav-link" href="{{path("admin_products_colors")}}">Couleurs des produits</a> #}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-user"></i>Compte</a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("admin_setting")}}">Paramètre</a>
                                            <a class="nav-link" href="{{path("app_logout")}}">Déconnexion</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% elseif is_granted('ROLE_MANAGER') %}
                            <li>
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-2"><i class="fa fa-fw fa-cubes"></i>Produits</a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_products")}}">Produits <span class="badge badge-secondary">New</span></a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_categories")}}">Catégories <span class="badge badge-secondary">New</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-3"><i class="fas fa-fw fa-shopping-cart"></i>Ventes</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_products_orders_create")}}">Ventes</a>
                                        </li>
                                          {# <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_products_commands")}}">Commandes</a>
                                        </li> #}
                                          <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_orders_deliveries")}}">Livraisons</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                                   <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-users"></i>Contacts</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_customers")}}">Clients</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                                 <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fab fa-fw fa fa-truck"></i>Opérations comptable</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_versements")}}">Versements</a>
                                        </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="{{path('manager_fund_operations')}}">Opérations de caisse</a>
                                        </li>
                                         </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="{{path('manager_orders_return')}}">Retour de marchandises</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {# <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa fa-truck"></i>Gestion des stocks</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Niveau de stock</a>
                                        </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Livraison</a>
                                        </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Seuil de réapprovisionnement</a>
                                        </li>
                                    </ul>
                                </div>
                            </li> #}
                            {# <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-home"></i>Magasins</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general-table.html">General Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li> #}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path("manager_reports")}}"><i class="fab fa-fw fas fa-chart-line" aria-hidden="true"></i>Rapports</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-user"></i>Compte</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{path("manager_setting")}}">Paramètre</a>
                                            <a class="nav-link" href="{{path("app_logout")}}">Déconnexion</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% elseif is_granted('ROLE_DELIVERY_MAN') %}
                            
                            <li class="nav-item">
                                <a class="nav-link" href="pages/general-table.html"><i class="fab fa-fw fa fa-truck" aria-hidden="true"></i>Livraisons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/general-table.html"><i class="fab fa-fw fas fa-chart-line" aria-hidden="true"></i>Rapports</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-user"></i>Compte</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general-table.html">Modifier profil</a>
                                            <a class="nav-link" href="pages/general-table.html">Paramètre</a>
                                            <a class="nav-link" href="pages/general-table.html">Déconnexion</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-2"><i class="fa fa-fw fa-cubes"></i>Produits</a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/cards.html">Produits <span class="badge badge-secondary">New</span></a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" href="pages/cards.html">Catégories <span class="badge badge-secondary">New</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-3"><i class="fas fa-fw fa-shopping-cart"></i>Ventes</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Ventes</a>
                                        </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Factures</a>
                                        </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Bon de commande</a>
                                        </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Bon de livraison</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                                   <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-users"></i>Contacts</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Clients</a>
                                        </li>
                                         <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Fournisseurs</a>
                                        </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">Personnel</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa fa-truck"></i>Gestion des stocks</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Niveau de stock</a>
                                        </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Livraison</a>
                                        </li>
                                           <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Seuil de réapprovisionnement</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-home"></i>Magasins</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        {# <li class="nav-item">
                                            <a class="nav-link" href="pages/general-table.html">General Tables</a>
                                        </li> #}
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/general-table.html"><i class="fab fa-fw fas fa-chart-line" aria-hidden="true"></i>Rapports</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-user"></i>Compte</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general-table.html">Modifier profil</a>
                                            <a class="nav-link" href="pages/general-table.html">Paramètre</a>
                                            <a class="nav-link" href="pages/general-table.html">Déconnexion</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {# END SUPER ADMIN ROLE #}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->